akregatorrc
Android\ Open\ Source\ Project/
autostart/
baloofilerc
calligrageminirc
cef_user_data/
Cerebro/
chromium/
Code/
copyq/
Crow\ Translate/
dconf/
discord/
evolution/
falkon/
fontconfig/
fragments/
geary/
gedit/
gnome-boxes/
gnome-control-center/
gnome-layout-switcher.conf
gnome-session/
GNOME-xdg-terminals.list
goa-1.0/
Google/
google-chrome/
google-chrome-dev/
gsconnect/
gthumb/
gtk-3.0/
gtk-4.0/
htop/
ibus/
JetBrains/
jgit/
kactivitymanagerdrc
karbonrc
kateschemarc
kcminputrc
kconf_updaterc
kdeglobals/
kdenlive-layoutsrc
kdenliverc
keepassxc/
kglobalshortcutsrc
knfsshare
krunnerrc
kscreenlockerrc
Kvantum/
kwinrc
kwinrulesrc
libinput-gestures.conf
libvirt/
manjaro/
manjaro-hello.json
menus/
microsoft-edge/
microsoft-edge-dev/
mimeapps.list
monitors.xml
monitors.xml~
nautilus/
notion-app-enhanced/
okularpartrc
okularrc
pamac/
plasma-workspace/
Postman/
pulse/
qBittorrent/
qt5ct/
qt6ct/
QtProject.conf
ranger/
rofi/
session/
systemsettingsrc
TabNine/
Thunar/
totem/
touchegg/
user-dirs.dirs
user-dirs.locale
variety/
VirtualBox/
vlc/
whatsapp-for-linux/
xdg-terminals.list
xfce4/
yelp/
Zeal/
.gsd-keyboard.settings-ported
.vscode/
kdeglobals
emaildefaults
calligrasheetsrc
calligrarc
libreoffice/